<!DOCTYPE html>
<html>
	<head>
		
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		
		<link rel="stylesheet" href="../static/styles.css" />
		<title>home</title>
	</head>
<body id="bodyMain">
	
	<div id="trevHelp">
		<div id="leftP">
			<div class="mainLeftInside">
				<div class="mainLeftInsideInside">

					<form action="/generate" method="post"> 
						<input type="submit" value="generate graph">
					</form>
				</div>
			</div>


		<div class="mainLeftInside">
			<div class="mainLeftInsideInside">

				<form action="/generateDate" method="post">
					<input type="date" id="date" name="date">
					<input type="submit" value="generate graph">
				</form>
			</div>
		</div>


		<div class="mainLeftInside">
			<div class="mainLeftInsideInside">
				<form action="/"> 
					<input type="submit" value="logout">
				</form>
			</div>
		</div>


		</div>
		<div id="rightP">
			<img src={{ result }} height="700" width="700">		
		</div>
	</div>
			
	
	
</body>
</html>
